<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=@cocktail.name%></h5>
    <p class="card-text">
    	<% @cocktail.doses.each do |dose| %>
			<p><%= dose.ingredient.name %></p>
			<p><%= dose.description%></p>
		<% end %>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<%= link_to 'Add Doses', new_cocktail_dose_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %> |